<div class="header_w">
<header>
	<a href="index.html">
	<div class="logo">
		<img src="img/logo.png" alt="">
	</div>
	</a>



	<div class="deskmenu">
		<ul>
			<li><a href="about.html">About</a></li>
			<li><a href="equipment.html">Equipment</a></li>
			<li><a href="product.html">Product</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
	</div>

	<!-- mobile menu -->
	<!-- <div class="hamburg">
		<span class="aaa"></span>
		<span class="bbb"></span>
		<span class="ccc"></span>
	</div> -->
	<!-- <div class="aside">
		<ul>
			<li>
				<a href="#" class="m-first">分類瀏覽
					<div class="go_submenu show-1">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-1">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>分類瀏覽 </div>
					<ul class="ul-second">
						<li><a href="category.html" class="m-second">主題瀏覽</a></li>
						<li><a href="#" class="m-second">時間軸檢視</a></li>
						<li><a href="#" class="m-second">空間分佈檢視</a></li>
					</ul>
				</div>
			</li>

			<li>
				<a href="#"  class="m-first">影音檢索
					<div class="go_submenu show-2">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-2">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>分類瀏覽 </div>
					<ul class="ul-second">
						<li><a href="search_simple.html" class="m-second">簡易查詢</a></li>
						<li><a href="search_advanced.html" class="m-second">進階查詢</a></li>
						<li><a href="search_manual.html" class="m-second">查詢說明</a></li>

					</ul>
				</div>
			</li>

			<li>
				<a href="#"  class="m-first">主題展示
					<div class="go_submenu show-3">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-3">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>分類瀏覽 </div>
					<ul class="ul-second">
						<li><a href="subject.html" class="m-second">當期主題展示</a></li>
						<li><a href="subject_history.html" class="m-second">歷次主題清單</a></li>
					</ul>
				</div>
			</li>

			<li>
				<a href="#"  class="m-first">森林小知識
					<div class="go_submenu show-4">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-4">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>分類瀏覽 </div>
					<ul class="ul-second">
						<li><a href="encyclopedia_index.html" class="m-second">森林小百科</a></li>
						<li><a href="notice_01.html" class="m-second">森林小叮嚀</a></li>
					</ul>
				</div>
			</li>

			<li><a href="#"  class="m-first">影音使用說明 </a></li>
			<li><a href="#"  class="m-first">相關網站 </a></li>
			<li>
				<a href="#"  class="m-first">
					資訊導覽列
					<div class="go_submenu show-5">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-5">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>資訊導覽列 </div>
					<ul class="ul-second">
						<li><a href="" class="m-second">回首頁</a></li>
						<li><a href="" class="m-second">關於我們</a></li>
						<li><a href="" class="m-second">網站導覽</a></li>
						<li><a href="" class="m-second">常見問題</a></li>
						<li><a href="" class="m-second">意見信箱</a></li>
						<li><a href="" class="m-second">開放資料</a></li>
						<li><a href="" class="m-second">RSS訂閱</a></li>
						<li><a href="" class="m-second">資訊安全政策</a></li>
						<li><a href="" class="m-second">隱私權保護政策</a></li>
						<li><a href="" class="m-second">政府網站資料開放</a></li>
					</ul>
				</div>
			</li>


		</ul>
	</div> -->
</header>
</div>