{# index.twig #}
{% extends "/_template/layout.twig" %}


{% block header %}
	{% include 'partial/header.twig' with {menu:"Contact"}%}
{% endblock %}


{% block page %}


<div id="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14458.548774021125!2d121.309930201932!3d25.04638363986876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a0805e200ae7%3A0x27fd459ca87be60f!2zMzMz5qGD5ZyS5biC6b6c5bGx5Y2A5Y2X5LiK6LevNTY35be3MjDomZ8!5e0!3m2!1szh-TW!2stw!4v1505142201102" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<div class="address">
	<h4>強益精密實業有限公司 <br>
	CIANG YI CO.,LTD</h4>
	

	<h6>國道一號南下</h6>
	<p>【南崁】交流道下右轉往【中正路】，遇【忠孝東路】</p>
	<p>右轉後直行400M遇【萊爾富】右轉。</p>

	<h6>國道一號北上</h6>
	<p>【南崁】交流道下左轉往【中正路】，遇【忠孝東路】</p>
	<p>右轉後直行400M遇【萊爾富】右轉。</p>

	<div class="liil"></div>

	<p>TEL：886-352-4109, 886-352-5331</p>
	<p>FAX：886-352-5330</p>
	<p>Mail：fu.t2ucxv@msa.hinet.net</p>
	<p>桃園縣龜山鄉南上路386巷20號1樓</p>
	<p>1F., No.20, Ln. 386, Nanshang Rd., Gueishan Township, Taoyuan County 333, Taiwan (R.O.C.)</p>

</div>



{% endblock %}