{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block header %}
	{% include 'partial/header.twig' with {menu:"Equipment"} %}
{% endblock %}



{% block page %}

<div class="main_inside"></div>

<div class="equipment">

	<h5>CNC精密複合式車床設備</h5>

	<div class="equipment_col">
		<div class="photo-d"><img src="img/aboutus_01.png" alt=""></div>
		<div class="description">
			<h6>SR-20</h6>
			<p>我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。</p>
		</div>
	</div>
	<div class="liil"></div>
	<div class="equipment_col">
		<div class="description">
			<h6> SR-16R</h6>
			<p>我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。</p>
		</div>
		<div class="photo-d"><img src="img/expertise_01.png" alt=""></div>
	</div>

	<div class="liil"></div>
	<div class="equipment_col">
		<div class="photo-d"><img src="img/aboutus_01.png" alt=""></div>
		<div class="description">
			<h6> SR-16</h6>
			<p>我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。</p>
		</div>
	</div>

	<div class="liil"></div>

	<div class="equipment_col">
		<div class="description">
			<h6> RNC</h6>
			<p>我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。我是超級無敵的CNC精密複合式車床設備，我是超級無敵的CNC精密複合式車床設備。</p>
		</div>
		<div class="photo-d"><img src="img/expertise_01.png" alt=""></div>
	</div>

	<div class="clear"></div>


</div>












{% endblock %}