{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="main_slide">
	<section class="regular-a slider">
	    <div class="new_photo">
			<img src="img/main.jpg" alt="">
	    </div>
	  	<div class="new_photo">
			<img src="img/main.jpg" alt="">
	    </div>
	  	<div class="new_photo">
			<img src="img/main.jpg" alt="">
	    </div>

	</section>
</div>

<div class="welcome">
	<h5>THE FIRST TIME IT'S A VACATION, <br>
    AFTER THAT IT'S COMIMG HOME</h5>

    <h6>文案文案文案文案文案文案文案文案文案文案文案文案</h6>
    <h6>文案文案文案文案文案文案文案文案文案文案文案文案</h6>
    <h6>文案文案文案文案文案文案文案文案文案文案文案文案</h6>
    <h6>文案文案文案文案文案文案文案文案文案文案文案文案</h6>
    <h6>文案文案文案文案文案文案文案文案文案文案文案文案</h6>





</div>

<div class="intro">
	<div class="intro_block">
		<img src="img/ccard_icon.png" alt="">
		<h6>主要產品</h6>
		<p>汽機車工業儀表零件、醫療器材、特殊螺絲、音響端子、特殊五金零件  等生產製造</p>
	</div>
	<div class="intro_block">
		<img src="img/ccard_icon.png" alt="">
		<h6>主要產品</h6>
		<p>汽機車工業儀表零件、醫療器材、特殊螺絲、音響端子、特殊五金零件  等生產製造</p>
	</div>
	<div class="intro_block">
		<img src="img/ccard_icon.png" alt="">
		<h6>主要產品</h6>
		<p>汽機車工業儀表零件、醫療器材、特殊螺絲、音響端子、特殊五金零件  等生產製造</p>
	</div>

	<div class="clear"></div>
</div>


{% endblock %}