<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/favicon.ico" />
<meta name="keywords" content="">
<meta name="description" content="">
<title>強益精密實業有限公司 CIANG YI CO.,LTD </title>


<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/module.css">

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/ui.js"></script>
<script>
	$(document).on('ready', function() {
		$(".regular-a").slick({
			dots: true,
			infinite: true,
		});
	});
</script>


</head>
<body>



{% block header %}{% endblock %}

{% block page %}{% endblock %}

<!-- Magnific-Popup #1 for login  -->

<div class="footer_wrapper">
	<footer>
		<div class="footer_link">
			<a href="index.html">Index</a>
			<a href="about.html">About</a>
			<a href="equipment.html">Equipment</a>
			<a href="product.html">Product</a>
			<a href="">Contact us</a>
		</div>

		<div class="copyright">
			<p>桃園縣龜山鄉南上路386巷20號1樓 </p>
			<p> 1F., No.20, Ln. 386, Nanshang Rd., Gueishan Township, Taoyuan County 333, Taiwan (R.O.C.)</p>
			<p>Copyright © 2017. CIANG YI CO.,LTD All rights reserved.</p>
		</div>

	</footer>
</div>



<!-- FlexSlider -->
  <script defer src="js/jquery.flexslider.js"></script>

  <script type="text/javascript">
    // $(function(){
    //   SyntaxHighlighter.all();
    // });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>

  <!-- Optional FlexSlider Additions -->
  <script src="js/jquery.easing.js"></script>
  <script src="js/jquery.mousewheel.js"></script>



</body>
</html>